
body {
  display:flex;
  width:99vw;
  height:100vh;
  padding:0 5px 5px 5px;
  flex-wrap:wrap;
}
button {
  display:none;
}
ul{
  list-style:none;
  padding-left:0;
  margin-left:0;
}
.bird {
  background-image: url(img/headerBackground.jpg);
  background-repeat: no-repeat;
  flex-grow:2;
  height:100vh;
  max-height:742px;
  overflow: hidden;
  min-width:500px; 
  max-width:500px;
  margin:0;
  padding:0;
}

.right-block {
  flex-grow:4;
  height:100%; 
  max-height:742px;
  background-image: url(img/headerBackgroundBrushes.jpg);
  background-repeat: no-repeat;
  background-position:right bottom;
  margin:0;
  padding:0;
}
.list-top {
  display:flex;
  margin-top:0;
  margin-bottom:0;
  margin-left:5px;
}
.list-top a {
  display:flex;
  flex-grow:1;
  align-items:center;
  justify-content:center;
  border-bottom:1px solid #FFD873;
  min-height:40px;
}
.picture-for-mobile{
  display:none;
}
.middle-text{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height:calc(100% - 71px);
}
.middle-text article{
  text-align:center;
  vetical-align:middle;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size:2.5em;
  margin:0;
  padding:0;
}
h3 {
  font-size:1.5em;
  margin:0;
  padding:0;
}
hr {
  border: none; 
  color: #FF9400; 
  background-color: #FF9400; 
  height: 1px;
}
.bottom {
  width:100%;
  margin:5px 0 0 0;
  padding:0;
}
.list-bottom {
  display:flex;
  padding:0;
  margin:0;
  height:100%;
  justify-content:center;
  align-items:center;
}
.list-bottom li{
  display:flex;
  padding:0 4px 0 4px;
  margin:0;
  flex-grow:1;
  min-height:50px;
  align-items:center;
  justify-content:center;
  border-bottom:1px solid #FFD873;
}
a {
  font-family: 'Roboto', sans-serif;
  font-size:1.6em;
  text-decoration:none;
  color:black;
  text-align:center;
}

.list-top a:hover {
  border-bottom:#FF9400 1px solid;
}

.list-bottom li:hover {
  border-bottom:#FF9400 1px solid;
}
.list {
  margin-top:0;
}


@media (max-width:576px) {
.body {
}
.right-block {
   min-height:960px;
   display:flex;
   flex-direction:column;
}
.picture-for-mobile {
  background-image: url(img/headerBackground.jpg);
  background-repeat: no-repeat;
  background-size:100% 460px;
  min-height:460px; 
  display:flex;
  margin-top:5px;

}
.middle-text {
  justify-content:start;
  min-height:400px;

}

.list-bottom li{
  border:1px solid  #FFD873;
  border-top:none;
  min-height:60px;
}
.list-bottom li:nth-child(even) {
  border-left:none;
}
.list-bottom li:nth-child(1) {
  border-top:1px solid  #FFD873;
}
.list-bottom li:nth-child(2) {
  border-top:1px solid  #FFD873;
}
h1 {
  font-size:2em;
  margin:0;
  padding:0;
}
h3 {
  font-size:1.4em;
  margin:0;
  padding:0;
}
.list-bottom a {
  font-family: 'Roboto', sans-serif;
  font-size:1.1em;
  text-decoration:none;
  color:black;
  text-align:center;
}
}
@media (max-width:768px) {
.bird {
  display:none;
}
.right-block {
  max-width:100%;
}

.btn-first{
  display:block;
  position: relative;
  overflow: hidden;
  margin: 5px 0 0 0;
  padding: 0;
  width: 99vw;
  min-height: 96px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;

}
.btn-first span {
  display: block;
  position: absolute;
  top: 44px;
  left: 40%;
  right: 40%;
  height: 8px;
  background: black;
  transition: background 0s 0.3s;
  transition-delay: 0.3s, 0s;
}
.btn-first span::before,
.btn-first span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: black;
  content: "";
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
.btn-first span::before{
  top: -20px;
   transition-property: top, transform;
}
.btn-first span::after {
  bottom: -20px;
   transition-property: bottom, transform;
}
.btn-first:focus {
  background-color: #cb0032;
}
.btn-first:focus span {
  left:45%;
  width:60px;
  top:50px;
  transform: rotate(90deg);
}
.btn-first:focus span::before {
  top: 13px;
  left:-8px;
  width:42px;
  transform: rotate(45deg);
}
.btn-first:focus span::after {
  bottom: 12px;
  left:-8px;
  width:41px;;
  transform: rotate(-45deg);
}
.btn-first:focus span::before,
.btn-first:focus span::after{
  transition-delay: 0s, 0.3s
}
.list-bottom li{
  height:60px;
  width:33%;
}

.list-bottom li:nth-child(1) {
  border-top:1px solid  #FFD873;
   border-bottom:none;
}
.list-bottom li:nth-child(2) {
  border-top:1px solid  #FFD873;
}
.list-bottom li:nth-child(3) {
  border-top:1px solid  #FFD873;
}
.list-bottom li:nth-child(even) {
  border-left:1px solid  #FFD873;
}

/*.list-top {
  display:flex;
  flex-direction:column;
  min-height:200px;
  margin-bottom:5px;
  
}*/
.list-top{
  display:none;
  position: absolute;
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  z-index: 100;
  width: 130px;
  padding: 5px 0 5px;
  margin: -29px 0 0 -15px;
}
   .list-bottom {
   flex-wrap:wrap;
}

}
@media (max-width:992px) {

}
@media (min-width:992px) and (max-width:1199px) {
.list-top {
   flex-wrap:wrap;
}
.right-block {
  max-width:calc(100% - 510px);
}
   .list-bottom {
   flex-wrap:wrap;
}
  .list-bottom li {
   width:33%;
}
.list-bottom li:nth-child(even) {
  border-left:1px solid  #FFD873;
}
}
@media (min-width:1200px) {

}











