@media (min-width:1201px){
header {
  margin:0;
  padding:0;
  width:100%;
  height:100vh;
}
.big {
  display:flex;
  margin:0;
  padding:0;
  width:100%;
  height:90vh;
}
h2 {
  display:none;
  position:relative;
  text-align:center;
  width:100%;
  height:60px;
  line-height:60px;
  margin:0;
  padding:0;
  font-size:2.8em;
}
.btn {
  position:absolute;
  right:20px;
  top:5px;
  width:50px;
  height:45px;
  appearance: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;

}
.btn span {
  display:block;
  position:absolute;
  width:35px;
  height:7px;
  top:19px;
  left:7px;
  background:black;
  transition: background 0s 0.3s;
  transition-delay: 0.3s, 0s;
}
.btn span::before,
.btn span::after {
  position:absolute;
  display:block;
  width:35px;
  height:7px;
  background:black;
  content:""; 
}
.btn span::before{
  top: -10px;
}
.btn span::after{
  top: 10px;
}
.bird-image {
  min-width:500px;
  flex-grow:1;
  background-image:url("https://image.ibb.co/izdkgy/header_Background.jpg");
  background-repeat:no-repeat;
  background-size:100% 100%;
}
.right-block {
  flex-grow:3;
  background:url("https://image.ibb.co/bX3J1y/header_Background_Brushes.jpg") no-repeat bottom right;
  margin-left:10px;
 }
nav {
  display:flex;
  width:100%;
  margin:0;
  padding:0;
}
nav a {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  text-align:center;
  line-height:49px;
  text-decoration:none;
  color:black;
  font-size: 1.6em;
  border-bottom:1px #FFD873 solid;
}
nav a:hover {
  border-bottom:#FF9400 1px solid; 
}
nav a:active {
  
}
nav a:active {
  
}

.text {
  height:calc(100% - 50px);
  width:100%;
  text-align:center;
}
.HH {
  position:relative;
  top:35%;
  }
h1 {
  font-size:4.0em;
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
hr {
  width:70%;
  height:1px;
  background-color: #FF9400;
  border:none;
}
  h3 {
  font-size:2.0em;
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.menu-bottom {
  display:flex;
  max-width:100%;
  flex-grow:1;
  margin:0;
  padding:0;
}
.menu-bottom a {
  display: flex;
  flex-grow:1;
  font-family: 'Roboto', sans-serif;
  text-align:center;
  line-height:50px;
  text-decoration:none;
  color:black;
  margin:5px 5px;
}
.btn-bot{
  flex-grow:1;
  min-height:50px;
  font-size: 1.4em;
}
.menu-bottom .btn-bot:hover {
  
}
.menu-bottom .btn-bot:visited {
  
}
.menu-bottom .btn-bot:active {
  
} 
}

@media (min-width: 769px) and (max-width:1200px){
header {
  margin:0;
  padding:0;
  width:100%;
  height:100vh;
}
.big {
  display:flex;
  margin:0;
  padding:0;
  width:100%;
  height:90vh;
}
h2 {
  display:none;
  position:relative;
  text-align:center;
  width:100%;
  height:60px;
  line-height:60px;
  margin:0;
  padding:0;
  font-size:2.8em;
}

.bird-image {
  min-width:450px;
  max-width: 500px;
  flex-grow:1;
  background-image:url("https://image.ibb.co/izdkgy/header_Background.jpg");
  background-repeat:no-repeat;
  background-size:100% 100%;
}
.right-block {
  flex-grow:2;
  background:url("https://image.ibb.co/bX3J1y/header_Background_Brushes.jpg") no-repeat bottom right;
  margin-left:10px;
}
nav {
  display:flex;
  width:100%;
  margin:0;
  padding:0;
}
nav a {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  text-align:center;
  line-height:49px;
  text-decoration:none;
  color:black;
  border-bottom:1px #FFD873 solid;
}
nav a:hover {
  border-bottom:#FF9400 1px solid; 
}
nav a:active {
  
}
nav a:active {
  
}

.text {
  height:calc(100% - 50px);
  width:100%;
  text-align:center;
}
.HH {
  position:relative;
  top:20%;
  }
h1 {
  font-size:3.0em;
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
hr {
  width:70%;
  height:1px;
  background-color: #FF9400;
  border:none;
}
h3 {
  font-size:2.0em;
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.menu-bottom {
  display:flex;
  max-width:100%;
  flex-wrap:wrap;
  flex-grow:1;
  margin:0;
  padding:0;
}
.menu-bottom a {
  display: flex;
  flex-grow:1;
  font-family: 'Roboto', sans-serif;
  min-width:50%;
  text-align:center;
  line-height:50px;
  text-decoration:none;
  color:black;
  margin:5px 0 0 0;
}
.btn-bot{
  flex-grow:1;
  height:50px;
  font-size: 1.4em;
}
.menu-bottom .btn-bot:hover {
  
}
.menu-bottom .btn-bot:visited {
  
}
.menu-bottom .btn-bot:active {
  
} 
}
@media (max-width:992px){

}

@media (min-width: 577px) and (max-width:768px){
header {
  margin:0;
  padding:0;
  width:100%;
  height:100vh;
}
.big {
  display:flex;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  flex-wrap: wrap;
  min-height:2000px;
}
h2 {
  position:relative;
  text-align:center;
  width:100%;
  height:60px;
  line-height:60px;
  margin:0;
  padding:0;
  font-size:2.8em;
}
.btn {
  position:absolute;
  right:20px;
  top:5px;
  width:50px;
  height:45px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;

}
.btn span {
  display:block;
  position:absolute;
  width:35px;
  height:7px;
  top:19px;
  left:7px;
  background:black;
  transition: background 0s 0.3s;
  transition-delay: 0.3s, 0s;
}
.btn span::before,
.btn span::after {
  position:absolute;
  display:block;
  width:35px;
  height:7px;
  background:black;
  content:""; 
}
.btn span::before{
  top: -10px;
}
.btn span::after{
  top: 10px;
}
.bird-image {
  min-width:450px;
  min-height:800px;
  flex-grow:1;
  background-image:url("https://image.ibb.co/b13SeJ/back_for_768_min.jpg");
  background-repeat:no-repeat;
  background-size:100% 100%;
  margin:10px 0 0 0;
  order:2;
}
.right-block {
  position:relative;
  flex-grow:2;
  background:url("https://image.ibb.co/bX3J1y/header_Background_Brushes.jpg") no-repeat bottom right;
  margin:0;
  padding:0;
}
.clicked {

}
nav {
  display:none;
  width:100%;
  margin:0;
  padding:0;
}
nav a {
  display:block;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  text-align:center;
  line-height:49px;
  text-decoration:none;
  color:black;
  border-bottom:1px #FFD873 solid;
}
nav a:hover {
  border-bottom:#FF9400 1px solid; 
}
nav a:active {
  
}
nav a:active {
  
}

.text {
  height:calc(100% - 50px);
  width:100%;
  text-align:center;
}
.HH {
  display: flex;
  flex-direction:column;
  justify-content: center;
  min-height: 500px;
}
h1 {
  font-size:3.0em;
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
hr {
  width:70%;
  height:1px;
  background-color: #FF9400;
  border:none;
}
h3 {
  font-size:2.0em;
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.menu-bottom {
  display:flex;
  max-width:100%;
  flex-wrap:wrap;
  flex-grow:1;
  margin:0;
  padding:0;
}
.menu-bottom a {
  display: flex;
  flex-grow:1;
  font-family: 'Roboto', sans-serif;
  min-width:50%;
  text-align:center;
  line-height:50px;
  text-decoration:none;
  color:black;
  margin:5px 0 0 0;
}
.btn-bot{
  flex-grow:1;
  height:50px;
}
.menu-bottom .btn-bot:hover {
  
}
.menu-bottom .btn-bot:visited {
  
}
.menu-bottom .btn-bot:active {
  
}
}

@media (min-width:400px) and  (max-width:576px){
header {
  margin:0;
  padding:0;
  width:100%;
  height:100vh;
}
.big {
  display:flex;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  flex-wrap: wrap;
  min-height:1500px;
}
h2 {
  position:relative;
  text-align:center;
  width:100%;
  height:60px;
  line-height:60px;
  margin:0;
  padding:0;
  font-size:2.8em;
}
.btn {
  position:absolute;
  right:20px;
  top:5px;
  width:50px;
  height:45px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;

}
.btn span {
  display:block;
  position:absolute;
  width:35px;
  height:7px;
  top:19px;
  left:7px;
  background:black;
  transition: background 0s 0.3s;
  transition-delay: 0.3s, 0s;
}
.btn span::before,
.btn span::after {
  position:absolute;
  display:block;
  width:35px;
  height:7px;
  background:black;
  content:""; 
}
.btn span::before{
  top: -10px;
}
.btn span::after{
  top: 10px;
}
.bird-image {
  min-width:310px;
  min-height: 450px;
  flex-grow:1;
  background-image:url("https://image.ibb.co/izdkgy/header_Background.jpg");
  background-repeat:no-repeat;
  background-size:100% 100%;
  margin:10px 0 0 0;
  order:2;
}
.right-block {
  position:relative;
  flex-grow:2;
  background:url("https://image.ibb.co/bX3J1y/header_Background_Brushes.jpg") no-repeat bottom left;
  margin:0;
  padding:0;
}
.clicked {

}
nav {
  display:none;
  width:100%;
  margin:0;
  padding:0;
}
nav a {
  display:block;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  text-align:center;
  line-height:49px;
  text-decoration:none;
  color:black;
  border-bottom:1px #FFD873 solid;
}
nav a:hover {
  border-bottom:#FF9400 1px solid; 
}
nav a:active {
  
}
nav a:active {
  
}

.text {
  height:calc(100% - 50px);
  width:100%;
  text-align:center;
}
.HH {
  display: flex;
  flex-direction:column;
  justify-content: center;
  min-height: 500px;
}
h1 {
  font-size:2.5em;
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
hr {
  width:70%;
  height:1px;
  background-color: #FF9400;
  border:none;
}
h3 {
  font-size:1.7em;
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.menu-bottom {
  display:flex;
  max-width:100%;
  flex-direction:column;
  flex-grow:1;
  margin:0;
  padding:0;
}
.menu-bottom a {
  display: flex;
  flex-grow:1;
  font-family: 'Roboto', sans-serif;
  text-align:center;
  line-height:49px;
  text-decoration:none;
  color:black;
  margin:5px 0 0 0;
}
.btn-bot{
  flex-grow:1;
}
.menu-bottom .btn-bot:hover {
  
}
.menu-bottom .btn-bot:visited {
  
}
.menu-bottom .btn-bot:active {
  
} 
}
@media (min-width:320px) and  (max-width:399px){
header {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
.big {
  display:flex;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  flex-wrap: wrap;
  min-height:1500px;
}
h2 {
  position:relative;
  width:calc(100% - 20px);
  height:60px;
  line-height:60px;
  margin:0;
  padding:0 0 0 20px;
  font-size:2.0em;
}
.btn {
  position:absolute;
  right:20px;
  top:5px;
  width:50px;
  height:45px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;

}
.btn span {
  display:block;
  position:absolute;
  width:35px;
  height:7px;
  top:19px;
  left:7px;
  background:black;
  transition: background 0s 0.3s;
  transition-delay: 0.3s, 0s;
}
.btn span::before,
.btn span::after {
  position:absolute;
  display:block;
  width:35px;
  height:7px;
  background:black;
  content:""; 
}
.btn span::before{
  top: -10px;
}
.btn span::after{
  top: 10px;
}
.bird-image {
  min-width:300px;
  min-height: 450px;
  flex-grow:1;
  background-image:url("https://image.ibb.co/izdkgy/header_Background.jpg");
  background-repeat:no-repeat;
  background-size:100% 100%;
  margin:10px 0 0 0;
  order:2;
}
.right-block {
  position:relative;
  flex-grow:2;
  background:url("https://image.ibb.co/bX3J1y/header_Background_Brushes.jpg") no-repeat bottom center;
  margin:0;
  padding:0;
}
.clicked {

}
nav {
  display:none;
  width:100%;
  margin:0;
  padding:0;
}
nav a {
  display:block;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  text-align:center;
  line-height:49px;
  text-decoration:none;
  color:black;
  border-bottom:1px #FFD873 solid;
}
nav a:hover {
  border-bottom:#FF9400 1px solid; 
}
nav a:active {
  
}
nav a:active {
  
}

.text {
  height:100%;
  width:100%;
  text-align:center;

}
.HH {
  display: flex;
  flex-direction:column;
  justify-content: center;
  min-height: 500px;
}
h1 {
  font-size:2.1em;
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
hr {
  width:70%;
  height:1px;
  background-color: #FF9400;
  border:none;
}
h3 {
  font-size:1.7em;
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.menu-bottom {
  display:flex;
  max-width:100%;
  flex-direction:column;
  flex-grow:1;
  margin:0;
  padding:0;
}
.menu-bottom a {
  display: flex;
  flex-grow:1;
  font-family: 'Roboto', sans-serif;
  text-align:center;
  line-height:49px;
  text-decoration:none;
  color:black;
  margin:5px 0 0 0;
}
.btn-bot{
  flex-grow:1;
}
.menu-bottom .btn-bot:hover {
  
}
.menu-bottom .btn-bot:visited {
  
}
.menu-bottom .btn-bot:active {
  
}
}


